.aboutContainer,
.about-image-Div,
.open-arrow,
.container,
.space-between,
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  flex-direction: column;
  width: 100%;
  margin: 2em 0 2em 0;
}
.about-columns {
  flex-direction: column;
  flex: 1;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about,
.open-arrow,
.center-align {
  flex-direction: column;
  gap: 1em;
}
.open-arrow span {
  font-size: 1em;
}
.about-image-Div img {
  width: 10em;
  border-radius: 50%;
}
.about-image-Div {
  background-color: var(--black-lighter);
  border-radius: var(--border-radius);
  flex-direction: column;
  color: white;
  padding: 1em;
}
.about-image-Div h3 {
  font-size: 2em;
  text-align: center;
}

.title {
  background-color: var(--orange-lighter);
  width: 100%;
  border-radius: var(--border-radius);
  text-align: center;
}
.title h4 {
  padding: 1em;
}
.open-arrow i {
  font-size: 3em;
  color: var(--orange);
}
.aboutContainer {
  display: none;
  background-color: var(--black-lighter);
  padding: 1em;
}
.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-content {
  padding: 1em;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.about {
  max-width: 30em;
  background-color: var(--gray);
  border-radius: var(--border-radius);
}
.left {
  text-align: left;
}
.extra-space {
  gap: 1em;
}
.hover-link {
  color: inherit;
}
.hover-link:hover,
.hover-link:active {
  color: var(--blue);
  cursor: pointer;
}
.space-between {
  gap: 1em;
}
.space-between i,
.about-content i {
  color: var(--orange-lighter);
}
.extra-gap {
  display: flex;
  gap: 1em;
}
