.footer,
.row,
.column {
  display: flex;
}
.row {
  justify-content: space-around;
  width: 100%;
}
.row,
.column {
  align-items: center;
}
.footer {
  height: 20em;
  width: 100%;
  justify-content: center;
  background-color: var(--gray);
}
.column {
  flex-direction: column;
  justify-content: left;
  gap: 2em;
  width: 100%;
  padding: 1em;
}
.column img {
  width: 10em;
}
.column ul li {
  padding: 0;
  padding-bottom: 1em;
}
.column ul {
  padding-left: 0;
}
.border-left {
  border-left: 1px solid white;
  height: 10em;
}
.border-left i {
  font-size: 1.6em;
}
