body {
  background-color: var(--black);
  color: white;
  font-family: "Arimo", sans-serif;
  font-family: "Edu TAS Beginner", cursive;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  letter-spacing: 0.6px;
}

:root {
  --black-lighter: #0d0d0d;
  --black: #000000;
  --orange: #ff4900;
  --orange-lighter: #fb692f;
  --red: #ff6a00;
  --white: #f2f2f2;
  --gray: #2b2b2b;
  --blue: #207c91;
  --lighter-gray: #0f0707;
  --border-radius: 5px;
}
h1 {
  font-size: 4em;
}
h2 {
  font-size: 3em;
}
h1,
h2 {
  color: white;
  margin: 0;
}

a,
ul,
li {
  text-decoration: none;
  list-style-type: none;
  color: inherit;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}
span {
  text-align: left;
}
textarea,
input {
  border: none;
  border-radius: var(--border-radius);
}
input {
  height: 3em;
}
button {
  border-radius: var(--border-radius);
  border: none;
  font-size: 1em;
  padding: 0.6em 1.5em;
  color: white;
  transition: background-color 0.7s ease;
  text-align: center;
  font-weight: 600;
}

.button-main {
  background-color: var(--orange);
  color: var(--black);
}
.button-main:hover,
.button-main:active {
  background-color: var(--orange-lighter);
}

.button-secondary {
  border: 1px solid #f2f2f2;
  background-color: transparent;
  background-color: var(--black);
}
.button-secondary:hover,
.button-secondary:active {
  background-color: white;
  color: var(--black);
}
#line {
  font-size: 5em;
  color: var(--orange);
}
.orange {
  color: var(--orange);
}
.blue {
  color: var(--blue);
}
.extra-margin {
  margin-bottom: 1em;
}
.extra-padding {
  padding: 1em;
}
.black {
  color: var(--black);
  font-weight: 600;
  text-align: center;
}
.extra-margin-top {
  padding-top: 1em;
}
.border-round {
  border-radius: 50%;
}
.margin-auto {
  margin-left: auto;
}
.dot {
  padding: 0.5em;
  background-color: var(--orange);
  height: 3em;
  width: 3em;
}
.dot-smaller {
  padding: 0;
  margin: 0;
  background-color: var(--blue);
  margin-top: 2em;
  margin-left: 25em;
}
.margin-left {
  margin-left: 1em;
}
.margin-button-less {
  margin-bottom: 0.7em;
}
