.hero,
.heroContainer,
.hero-left-box,
.buttons-div,
.heroRightBox,
.project-list-container,
.cards,
.project,
.project-text,
.flex,
.center {
  display: flex;
}
.center,
#line {
  text-align: center;
}
.center {
  margin-bottom: 6em;
}
.hero,
.heroContainer,
.project-list-container,
.project,
.heroRightBox,
.center {
  justify-content: center;
  align-items: center;
}
.hero {
  margin-top: 4em;
}
.heroRightBox {
  width: 100%;
  flex: 1;
}
.heroContainer {
  padding: 1em;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-bottom: 3em;
}
.hero-left-box {
  flex-direction: column;
  flex: 1;
}
.hero-left-box i {
  font-size: 3em;
  color: var(--orange);
  margin-bottom: 0.3em;
}
.smallText {
  font-size: 1em;
}

.buttons-div {
  margin-top: 1.3em;
  gap: 1em;
}
.hero-image-div {
  width: 100%;
}
.hero-image-div img {
  padding: 1em;
  background-color: var(--black);
  width: 100%;
}

.hero-image-div img:hover {
  opacity: 1;
}
.project-list-container {
  background-color: var(--black);
  padding: 3em 6em 3em 6em;
  text-align: center;
}
.opacity {
  color: var(--orange);
  font-size: 5em;
  opacity: 0.4;
}

.project-list-container h2 {
  font-size: 3em;
  margin: 0;
  padding: 0;
}
.cards,
.project,
.project-list-container {
  flex-direction: column;
}

.cards {
  width: 90%;
  max-width: 1600px;
  padding: 1em;
  flex-wrap: wrap;
  gap: 5em;
}

.project {
  width: 60%;
  background-color: var(--black-lighter);
  max-width: 60em;
  border-radius: var(--border-radius);
  position: relative;
  border: 1px solid var(--orange);
}
.project:hover,
.project:active {
  background-color: var(--black);
  border: 2px solid var(--red);
}
.project:nth-child(odd) {
  margin-right: auto;
  justify-self: flex-end;
}

.project:nth-child(even) {
  margin-left: auto;
  justify-self: flex-start;
}
.project-text {
  flex-direction: column;
  position: absolute;
  top: -47px;
}
.firstChild {
  left: -95px;
  text-align: left;
}
.secondChild {
  text-align: right;
  right: -97px;
}

.flex {
  text-align: left;
  flex-direction: column;
  font-size: 2em;
}
.flex-end {
  margin-top: auto;
  margin-top: 0;
  margin-bottom: 0.7em;
}
.project img {
  width: 60%;
  padding-top: 0.5em;
}
.project img:hover,
.project img:active {
  opacity: 1;
}
#h1 {
  letter-spacing: 0.5em;
}
