.navbar,
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar {
  height: 10em;
}
.nav img {
  width: 4em;
}
.navList {
  gap: 2em;
  margin-right: auto;
}
.navList li {
  cursor: pointer;
}
.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  border: 1px solid var(--orange);
  min-width: 140px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: left;
  margin-top: 1em;
}
.dropdown.active .dropdown-content {
  display: flex;
}
.dropdown-item {
  color: white;
  padding: 0.5em;
  display: block;
}
.dropdown-item:hover,
.dropdown-item:active {
  background-color: var(--orange);
}

.navList li:hover,
.navList li:active {
  color: var(--orange);
}
